.photos {
	text-align: center;
	margin: 0 0 20px 0;
	overflow: hidden;    
}
.photos a {
	width: 50%;
	display: block;
	float: left;
	line-height: 0;
}
.photos img {
	width: 60%;
	height: auto;
}
h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 48px;
    text-align: center;
}